<section class="highlight-box">
    <p><strong>About the author</strong></p>
    <div class="columns">
        <img src="/images/photo_niklasjordan_squared.jpg" width="150" height="150" alt="A photo of me, Niklas Jordan. I wear a cap with the patagonia brand logo on it, black glasses and a grey shirt, and I'm smiling. In the backgroundThe background shows a blurred heath landscape. The photo is somewhat orange, because it was taken during the sunset." />
        <p>Hey, I am <span class="p-name">Niklas Jordan</span>. A <span class="p-job-title">full-time TechForGood dude and part-time Earth science student</span>. <span class="p-note">I am passionate about natural hazards, Earth observation, human rights, climate, data science, low-cost technology & tech ethics. I am hosting a podcast about naturual hazards and technology, publish a monthly newsletter about people, planet & technology and found a international community about open source disaster tech. Oh wait, one more thing to know: I love rough weather!</span></p>
    </div>
</section>