<section class="highlight-box">
    <p><strong>About the author</strong></p>
    <div class="columns">
        <img src="/assets/dither_niklas-jordan-150x150.jpg" width="150" height="150" />
        <p>Hey, I am <span class="p-name">Niklas Jordan</span>. A <span class="p-job-title">full-time TechForGood dude and part-time Earth science student</span>. <span class="p-note">I am passionate about natural hazards, Earth observation, human rights, climate, data science, low-cost technology & tech ethics. I am hosting a podcast about naturual hazards and technology, publish a monthly newsletter about people, planet & technology and found a international community about open source disaster tech. Oh wait, one more thing to know: I love rough weather!</span></p>
    </div>
</section>