<hr>

<ul class="footer-nav">
    <li><a href="/search.html">Search</a></li>
    <li>Subscribe to <a href="/rss.html">RSS</a></li>
</ul>

<footer>

<p><em>No cookies, no trackers — this website is committed to protect your <a href="/privacy">privacy</a>.<br /> <span class="alert">This website looks broken to you? <a href="/about-this-site">Read why.</a></em></span></p>

<nav>
    <ul class="nav">
        <li><a href="/travel-policy">Travel policy</a></li>
        <li><a href="/imprint">Imprint</a></li>
    </ul>
</nav>

</footer>