<hr>

<ul class="footer-nav">
    <li><a href="/search.html">Search</a> this site</li>
    <li>Subscribe to <a href="/rss.html">RSS</a></li>
    <li>Subscribe to my <a href="/newsletter.html">newsletter</a></li>
</ul>

<footer>

<p><em>No cookies, no trackers — this website is committed to protect your <a href="/privacy">privacy</a>.<!--<br /> <span class="alert">This website looks broken to you? <a href="/about-this-site">Read why.</a>--></em></span></p>

<nav>
    <a href="/travel-policy">Travel policy</a> / <a href="/imprint">Imprint</a>
</nav>

</footer>