<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {% if page.title %}
      {{ page.title }} | {{ site.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>
  <meta name="description" content="{{ site.description }}">

  <link type="application/atom+xml" rel="alternate" href="/feed.xml" title="Niklas Jordan" />

  <link rel="me" href="https://twitter.com/niklas_jordan" />
  <link rel="me" href="https://github.com/NiklasJordan" />

  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌳</text></svg>">

  <link rel="stylesheet" href="/assets/css/new.min.css">
  
  <style type="text/css">
    {% include style.html %}
  </style>
</head>