<header>
    <nav>

        {% unless page.layout == 'front' %}
    {% for link in site.navigation %}
      {% assign current = nil %}
      {% if page.url == link.url or page.layout == link.layout %}
        {% assign current = 'current' %}
      {% endif %}

      <a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a>
    {% endfor %}
{% endunless %}
        <!-- <a class="active" href="/">Start here</a>
        <a href="/about.html">About me</a>
        <a href="/speaking.html">Speaking</a>
        <a href="/blog.html">Blog</a>
        <a href="/links.html">Links</a>
        <a href="/newsletter.html">Newsletter</a>-->
    </nav>
</header>