<div class="newsletter">
    <form action="https://e.niklasjordan.com/subscribe" method="POST" accept-charset="utf-8">
        <input type="email" name="email" id="email" placeholder="Your Email" required/><br/><br/>
        <input type="checkbox" name="gdpr" id="gdpr" required/>
        <span>I give my consent to me to be in touch with me via email using the information I have provided in this form for the purpose of news and updates.</span>
        <br/><br/><div style="display:none;">
        <label for="hp">HP</label><br/>
        <input type="text" name="hp" id="hp"/>
        </div>
        <input type="hidden" name="list" value="WF8aoq3OiPtI1t2OMtGIxQ"/>
        <input type="hidden" name="subform" value="yes"/>
        <input type="submit" name="submit" id="submit" value="Subscribe"/>
    </form>
</div>