<!--<div class="newsletter">
    <form action="https://e.niklasjordan.com/subscribe" method="POST" accept-charset="utf-8">
        <input type="email" name="email" id="email" placeholder="Your Email" required/><br/><br/>
        <input type="checkbox" name="gdpr" id="gdpr" required/>
        <span>I give my consent to me to be in touch with me via email using the information I have provided in this form for the purpose of news and updates.</span>
        <br/><div style="display:none;">
        <label for="hp">HP</label><br/>
        <input type="text" name="hp" id="hp"/>
        </div>
        <input type="hidden" name="list" value="WF8aoq3OiPtI1t2OMtGIxQ"/>
        <input type="hidden" name="subform" value="yes"/>
        <input type="submit" name="submit" id="submit" value="Subscribe"/>
    </form>
</div>-->



<!--<div id="revue-embed">
    <h2>Subscribe now</h2>
    <form action="https://www.getrevue.co/profile/niklasjordan/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
        <div class="columns">
        <div class="revue-form-group">
        <input class="revue-form-field" placeholder="Your email address" type="email" name="member[email]" id="member_email">
        </div>
        <div class="revue-form-actions">
        <button type="submit" value="Subscribe" name="member[subscribe]" id="member_submit">Subscribe</button>
    </div>
        </div>
        <div class="revue-form-footer"><small>By subscribing, you agree with Revue’s <a target="_blank" href="https://www.getrevue.co/terms">Terms of Service</a> and <a target="_blank" href="https://www.getrevue.co/privacy">Privacy Policy</a>.</small></div>

    </form>
  </div>-->

<iframe src="https://niklasjordan.substack.com/embed" width="100%" height="320" frameborder="0" scrolling="no"></iframe>