<details>  
    <summary><strong>What are you waiting for? Get in touch with me!</strong></summary>
    <ul>
    <li><a href="https://twitter.com/niklas_jordan">Twitter →</a></li>
    <li><a href="https://pinboard.in/u:NiklasJordan">Pinboard →</a></li>
    <li><a href="https://github.com/NiklasJordan">Github →</a></li>
    <li><a href="https://www.linkedin.com/in/niklasjordan/">LinkedIn →</a></li>
    <li><a href="https://www.reflecta.network/changemaker/niklas-jordan">reflecta.network →</a></li>
    </ul>
</details> 