<form name="search" action="//duckduckgo.com/">
    <div class="form-group">
        <div class="input-group">
            <input type="search" placeholder="What are you looking for?" name="q">
            <input type="hidden" value="niklasjordan.com" name="sites">
            <input type="hidden" value="1" name="kh">
            <input type="hidden" value="1" name="kn">
            <input type="hidden" value="1" name="kac">
            <input type="hidden" value="1" name="kc"><br />
            <input type="submit" name="submit" id="submit" value="Search with DuckDuckGo on this site" />
        </div>
    </div>
  </form>