body {max-width: 580px; margin: auto; padding:10px; line-height: 1.3rem; font-size: 1.1rem;}
    p.site-title {margin-bottom: 0.3rem; text-transform: uppercase; font-family: sans-serif;}
    ul.nav {padding:0; margin: 0 0 3rem 0;}
    ul.nav li {display:inline; margin:0 10px 0 0;}
    h1 {font-size: xx-large; font-family: sans-serif; text-transform: uppercase; line-height: 2.5rem;}
    h2 {font-size: x-large; font-family: sans-serif; margin-top: 2rem;}
    h3 {font-size: large; font-family: sans-serif;}
    .alert {background: #ffd900;}
    .code {font-family: monospace; background: #efefef;}
    figure {margin:0;}
    hr {text-align: center; border: 0;}
    hr:before { content: '−−−−−− ' }
    hr:after { content: attr(data-content) ' −−−−−−' }
    a.button {background: #0000ff; color: #fff; text-decoration: none; padding: 7px 7px;}
    img {max-width:100%}
    .newsletter-teaser {background:#ebebff; margin: 1.5rem 0 1rem 0; padding: 1rem; box-shadow: 2px 2px 0px 0px #ddd;}
    .newsletter-teaser h2 {margin-top: 1rem;}
    .newsletter {background:#ebebff; padding: 1rem; box-shadow: 2px 2px 0px 0px #ddd;}
    .newsletter input[type=email] {width: 100%; font-size: 1rem; font-family: serif; padding: 0.5rem; box-sizing: border-box;}
    .newsletter input[type=submit] {width: 100%; font-size: 1rem; font-family: serif; padding: 0.5rem; background: #0000ff; color: #fff; box-shadow: 2px 2px 0px 0px #bbb;}
    h2#about-the-author {margin: 3rem 0 1rem 0;}
    section#authorbox {display: grid; grid-template-columns: 100px 1fr; grid-gap: 1.5rem;}
    section#authorbox img {float: left; width: 100px;}
    section#authorbox p {margin-top: 0;}
    footer {font-size: smaller; line-height: 1rem; margin: 3rem 0 0 0;}