<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">
        {%- include head.html -%}
    <body>
        {%- include menu.html -%}
        
        {{ content }}

        {% if page.authorbox == "nope" %}
            <div style="display: none;">{% include author.html %}</div>
        {% else %}
            {% include author.html %}
        {% endif %}

        {% if page.profiles == "nope" %}
            <div style="display: none;"></div>
        {% else %}
            {% include profiles.html %}
        {% endif %}
        
        {%- include footer.html -%}

        {%- include cabin.html -%}

        <script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
    </body>
</html>