---
layout: default
---
{{ content }}

{% assign postsByYear =
  site.links | group_by_exp:"link", "link.date | date: '%B %Y'" %}
{% for year in postsByYear reversed %}
  <h2>{{ year.name }}</h2>
  {% for links in year.items reversed %}
    <p>
      <strong>
      <a href="{{ links.link }}">
        {{ links.title }} →
      </a>
    </strong></p>
    <p>{{ links.content | markdownify }}</p>
    <p style="margin-bottom: 3rem;"><small>
      <a href="{{ links.url | prepend: site.baseurl }}">
        🔗 Permalink
      </a>&nbsp;|&nbsp;
      {{ links.date | date: '%D' }} | Source: {{ links.source }}</small>
    </p>
    {% endfor %}
  {% endfor %}